.button {
    color: white;
    padding: 10px 17px;
    min-width: 180px;  
    font-weight: 500;
    font-size: 17px; 
    outline: 0;
    box-shadow: none; 
    border: 0;
    border-radius: 3px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contained-button {
    background-color: var(--sky-blue);  
}

.outlined-button {    
    color: var(--sky-blue);
    background-color: white;
    box-shadow:inset 0px 0px 0px 1px var(--sky-blue);
}

.button:hover, 
.button:focus {
    background-color: var(--light-blue);
    color: white;
    box-shadow: none;
    outline: none;
    border: 0;
}
.button:active {
    background-color: var(--light-blue);
    color: white;
    outline: none;
    border: 0;
    box-shadow: inset 0px 0px 1px 2px var(--sky-blue);
}
