.option-container {
    display: flex;
    align-items: center;
}
.option-text{
    margin-left: 6px;
}
.option-text-bold {
    color: var(--black-grey);
}
.option-text-thin {
    color: var(--dark-grey)
}
